@mixin scrollbar($horizontal: true) {
    &::-webkit-scrollbar {
        @if $horizontal {
			width: 5px;
		}
		@else {
			height: 5px;
		}
    }
    &::-webkit-scrollbar-track {
        box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    }

    &::-webkit-scrollbar-thumb {
      background-color: darkgrey;
    }
}

@for $i from 9 through 30 {
    .fs-#{$i} {
      font-size: $i+px !important;
    }
}

@for $i from 5 through 100 {
    .rounded-#{$i} {
      border-radius: $i+px !important;
    }
    .rounded-r-#{$i} {
        border-top-right-radius: $i+px !important;
    }
    .rounded-t-#{$i} {
        border-top-left-radius: $i+px !important;
    }
    .line-h-#{$i} {
        line-height: $i+px !important;
    }
    .h-#{$i} {
        height: $i+px !important;
    }
    .w-#{$i} {
        width: $i+px !important;
    }
}

@for $i from 1 through 10 {
    .border-#{$i} {
      border: $i+px solid !important;
    }
    .border-top-#{$i} {
      border-top: $i+px solid !important;
    }
    .border-bottom-#{$i} {
      border-bottom: $i+px solid !important;
    }
    .border-left-#{$i} {
      border-left: $i+px solid !important;
    }
    .border-right-#{$i} {
      border-right: $i+px solid !important;
    }
}

@each $key, $primary in $primaries {
    .bg-primary-#{$key} {
        background-color: $primary !important;
    }
    .text-primary-#{$key} {
        color: $primary !important;
    }
    .border-primary-#{$key} {
        border-color: $primary !important;
    }
}

@each $key, $gray in $grays {
    .bg-gray-#{$key} {
        background-color: $gray !important;
    }
    .text-gray-#{$key} {
        color: $gray !important;
    }
    .border-gray-#{$key} {
        border-color: $gray !important;
    }
}

.bg-yellow {
    background-color: $yellow !important;
}
.text-yellow {
    color: $yellow !important;
}
.border-yellow {
    border-color: $yellow !important;
}

$font-sizes: (
    1: $h1-font-size,
    2: $h2-font-size,
    3: $h3-font-size,
    4: $h4-font-size,
    5: $h5-font-size,
    6: $h6-font-size,
);

$utilities: (
    "font-family": (
        property: font-family,
        class: font,
        values: (
            primary: $font-primary
        ),
    ),
    "font-size": (
        rfs: true,
        property: font-size,
        class: fs,
        values: $font-sizes,
    ),
    "font-style": (
        property: font-style,
        class: fst,
        values: italic normal,
    ),
    "font-weight": (
        property: font-weight,
        class: fw,
        values: (
            light: $font-weight-light,
            lighter: $font-weight-lighter,
            normal: $font-weight-normal,
            medium: $font-weight-medium,
            bold: $font-weight-bold,
            bolder: $font-weight-bolder,
        ),
    ),
    "line-height": (
        property: line-height,
        class: lh,
        values: (
            1: 1,
            sm: $line-height-sm,
            base: $line-height-base,
            lg: $line-height-lg,
        ),
    ),
    "text-align": (
        responsive: true,
        property: text-align,
        class: text,
        values: (
            start: left,
            end: right,
            center: center,
        ),
    ),
    "text-decoration": (
        property: text-decoration,
        values: none underline line-through,
    ),
    "text-transform": (
        property: text-transform,
        class: text,
        values: lowercase uppercase capitalize,
    ),
    "white-space": (
        property: white-space,
        class: text,
        values: (
            wrap: normal,
            nowrap: nowrap,
        ),
    ),
    "word-wrap": (
        property: word-wrap word-break,
        class: text,
        values: (
            break: break-word,
        ),
        rtl: false,
    ),
    "shadow": (
        property: box-shadow,
        class: shadow,
        values: (
            null: $box-shadow,
            sm: $box-shadow-sm,
            lg: $box-shadow-lg,
            none: none,
        ),
    ),
);

@mixin font-face($path, $wight: light) {
    @font-face {
        font-family: 'Gotham Rounded';
        src: url('/resources/fonts/#{$path}');
        font-weight: $wight;
        font-style: normal;
    }
}

@include font-face("GothamRounded-Bold.otf", bold);
@include font-face("GothamRounded-Medium.otf", medium);
@include font-face("GothamRounded-Light.otf");
